# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CICD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  compile:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "23"

    - name: Install and Test Frontend
      run: |
        cd client
        npm ci
        npm run build
        npm test

    - name: Install Backend
      run: |
        cd api
        npm ci

    - name: Frontend Compilation (Syntax Check)
      run: |
        cd client
        find . -name "*.js" -exec node --check {} +

    - name: Backend Compilation (Syntax Check)
      run: |
        cd api
        find . -name "*.js" -exec node --check {} +
          
